body{
	margin:0;
	padding: 0;
}

.main{

}

.header{
	height: 70px;
	background-color: #009688;
}

.left-head{
	color: #CCEAE7;
}

.right-head{
	color: #CCEAE7;
	text-align: right;
}

.right-head ul{
	margin-top: 3%;
}

.right-head ul li{
	list-style: none;
	display: inline-block;
	font-size: 20px; 
}

.right-head ul li:hover{
	cursor: pointer;
	color: white;
}

.right-head ul li a{
	text-decoration: none;
	color: #CCEAE7;
}

.right-head ul li a:hover{
	color: white;
}

.slider{
	background: url('../img/clubbanner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	padding-top: 5%;
}

.slider-text{
	background-color: rgba(17, 13, 13, 0.55);
}

.slider-text h2{
	font-size: 70px;
	font-weight: bolder;
	padding: 30px;
	color: white;
}

.about-main{
	text-align: center;
	background-color: #096d64;
	padding-top: 5%;
	padding-bottom: 5%;
	color: #b0fcf5;
}

.about-detail{
	/*width: 60%;*/
	/*margin:0 auto;*/
}

.main-team{
	padding-top: 4%;
	padding-bottom: 4%;
	background-color: lightgrey;
}

.team-details{
	text-align: center;
}

.team-details img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.notice-main{
	background-color: #00B05B;
	/*height: 300px;*/
	text-align: center;
	color: white;
	padding-top: 4%;
	padding-bottom: 4%;
}

.event-outfit{
	height: 150px;
	background-color: #4f7c57;
	overflow: auto;
	/*border: 2px solid red;*/
	width: 70%;
	margin:0 auto;
}

.notice-outfit{
	height: 150px;
	background-color: #4f7c57;
	overflow: auto;
	/*border: 2px solid red;*/
	width: 70%;
	margin:0 auto;
}

.contact-main{
	background-color: #656869;
	color: white;
	padding-top: 4%;
	padding-bottom: 4%;
}

.contact{
	width: 70%;
	margin:0 auto;
	padding: 20px;
	text-align: center;
}

.contact input,textarea{
	margin-top: 15px;
}

.footer-main{
	text-align: center;
	background-color: black;
	color: white;
	padding-top: 4%;
	padding-bottom: 4%;
}

.footer-main a{
	text-decoration: none;
}